.hangman {
    position: relative;
    width: 300px;
    height: 300px;
}

.gallows {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gallows .vertical-post {
    position: absolute;
    left: 50%;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #ffffff;
}

.gallows .beam {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 10px;
    background-color: #ffffff;
}

.gallows .base {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}

.body-parts .head {
    position: absolute;
    left: calc(50% - 20px);
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
}

.body-parts .body {
    position: absolute;
    left: calc(50% - 5px);
    top: 60px;
    width: 10px;
    height: 60px;
    background-color: #ffffff;
}

.body-parts .left-arm {
    position: absolute;
    left: calc(50% - 5px);
    top: 60px;
    width: 40px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transform-origin: left center;
}

.body-parts .right-arm {
    position: absolute;
    left: calc(50% - 35px);
    top: 60px;
    width: 40px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    transform-origin: right center;
}

.body-parts .left-leg {
    position: absolute;
    left: calc(50% - 5px);
    top: 120px;
    width: 40px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    transform-origin: left center;
}

.body-parts .right-leg {
    position: absolute;
    left: calc(50% - 35px);
    top: 120px;
    width: 40px;
    height: 10px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transform-origin: right center;
}