@font-face {
    font-family: 'Cafe24Decoschool';
    src: url('/assets/fonts/Cafe24Decoschool.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    width: auto;
    margin: 20px;
    font-family: 'Cafe24Decoschool', Arial, Helvetica, sans-serif;
    color: rgb(224, 224, 224);
}

hangman-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.game {
    text-align: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3e3e3e;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family:'Cafe24Decoschool', Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}